/* styles.css */

body {
    font-family: Arial, sans-serif;
    padding: 50px;
  }
  
  #quiz {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #question {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  #answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    margin: 10px 0;
    width: 100%; /* Ensure buttons take full width */
    max-width: 300px; /* Limit button width for larger screens */
  }
  
  button:hover {
    background: #3cb0fd;
    color: black;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
  }

  #image-container {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
  
  #image-container img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
    max-height: 100%; /* Ensure image doesn't exceed container height */
  }